# Server
PORT=5000
NODE_ENV=development

# MongoDB (local)
MONGO_URI=mongodb://127.0.0.1:27017/smart-crm

# JWT
JWT_SECRET=82399773869251177886635004522495496464629588048342
JWT_EXPIRES_IN=7d

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000

# Nodemailer (one.com Professional Email SMTP)
# Outgoing SMTP server for one.com is send.one.com
# Port 465 uses SSL/TLS (recommended), or Port 587 uses STARTTLS
EMAIL_HOST=send.one.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your_name@yourdomain.com
EMAIL_PASS=your_one_com_email_password
EMAIL_FROM="SmartCRM <your_name@yourdomain.com>"

# Meta WhatsApp Cloud API-
WHATSAPP_TOKEN=your_meta_permanent_or_temp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_BUSINESS_ACCOUNT_ID=your_waba_id
WHATSAPP_API_VERSION=v20.0
WHATSAPP_WEBHOOK_VERIFY_TOKEN=choose_any_random_string_and_reuse_it_in_meta_dashboard
